html {
  background: url(images/egypt-background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

body {
  font-family: "Courier New", Courier, monospace;
  color: white;
}

header, footer{
  background-color: #0c2f49;
}

header {
  padding: 5px;
  text-align: center;
  font-size: 1.5rem;
}

footer {
  padding: 5px;
  text-align: right;
  padding-right: 1rem;
}

.grid-container {
  display: grid;
  grid-gap: 30px;
  padding: 30px;
  grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
  justify-items: center;

}

.grid-container--godpages {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(1000px, 1fr) );
}
